<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <title>Node.js Basic</title>
  </head>
  <body>
    <div class="topnav">
      <a href="/">Home</a>
      <a href="/upload" class="active">Upload File</a>
    </div>
    <div class="upload-file-container">
      <form action="" enctype="multipart/form-data"></form>>
        <div class="upload-file-func">
          <label for=""> Avatar: </label>
          <input type="file" name="profile_pic" id="" />
        </div>
        <div class="upload-file-act">
          <button
            style="
              background-color: rgb(67, 67, 218);
              color: white;
              border-radius: 3px;
              outline: none;
              border: none;
              padding: 3px 15px;
            "
            type="submit"
          >
            Save
          </button>
        </div>
      </form>
    </div>
  </body>
</html>
